<!DOCTYPE html>
<html lang="ru" dir="ltr">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,600;0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/auth.css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="wrapper">
            <div class="">
                <h1>Авторизация в University Online</h1>
            </div>
            <div class="">
                <form class="" action="/auth/login" method="post">
                    <label>
                        <span>Адрес электронной почты</span>
                        <input type="email" name="email" value="">
                        <div class="line"></div>
                    </label>
                    <label>
                        <span>Пароль</span>
                        <input type="password" name="password" value="">
                        <div class="line"></div>
                    </label>
                    <label class="rememberMe container">
                        <input type="checkbox" name="rememberMe" value="">
                        <span class="checkmark"></span>
                        <div>Запомнить меня</div>
                    </label>
                    <label class="submit">
                        <input type="submit" name="" value="Войти">
                    </label>
                    <label>
                        {{error}}
                    </label>
                </form>
            </div>
            <div class="logo">
                <img src="/img/auth/logo.png" alt="">
            </div>
        </div>
    </body>
</html>
