<!DOCTYPE html>
<html lang="ru" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel='stylesheet'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <title>Заголовок</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="menu">
    			<div class="menuHeader">
    				<img src="logo.svg">
    				<span>University Online</span>
    			</div>
    			<ul class="menuContent">
    				<a href="">
    					<img src="interface_4_1.svg">
    					<li>Учебная неделя</li>
    				</a>
    				<a href="">
    					<img src="interface_4_1.svg">
    					<li>Пункт меню</li>
    				</a>
    				<a href="">
    					<img src="interface_4_1.svg">
    					<li>Пункт меню</li>
    				</a>
    			</ul>
    			<div class="menuFooter">
    				<div class="social">
    					<a href=""><img src="twitter 1.svg"></a>
    					<a href=""><img src="vk 1.svg"></a>
    					<a href=""><img src="social-media 1.svg"></a>
    				</div>
    				<div class="contacts">
    					<div class="phone">
    						<img src="communications 2.svg">
    						<span>+7 (800) 555-35-35</span>
    					</div>
    					<div class="mail">
    						<img src="interface (3) 2.svg">
    						<span>example@gmail.net</span>
    					</div>
    				</div>
    				<div class="author">
    					<span>#freeFestu, 2020</span>
    				</div>
    			</div>
    		</div>
            {{{body}}}
        </div>
    </body>
</html>
