* {
  padding: 0px;
  margin: 0px;
  font-family: Nunito, Comfortaa, "Open Sans", sans-serif;
}

.wrapper{
    display: grid;
    grid-template-columns: 220px auto;
    position: relative;
    grid-column-gap: 50px;
}

.menu li{
  list-style: none;
  width: 100%;
}

.wrapper .menu {
  background: linear-gradient(150deg, #6E73FF, #4E53DF);
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}
.wrapper .menu .menuHeader {
  display: flex;
  flex-flow: row nowrap;
  background: none;
  justify-content: space-around;
  align-items: center;
  margin: 25px 10px 50px 10px;
  color: #FFFFFF;
}
.wrapper .menu .menuHeader img {
  width: 20%;
}
.wrapper .menu .menuContent a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 8px 0px 8px 12px;
}
.wrapper .menu .menuContent a img {
  width: 35px;
  padding-right: 5px;
}
.wrapper .menu .menuContent a:hover {
  background: #4E53DF;
}
.wrapper .menu .menuFooter:before {
  display: block;
  content: "";
  width: 80%;
  height: 2px;
  background: #5340C7;
  margin-bottom: 20px;
}
.wrapper .menu .menuFooter {
  position: absolute;
  width: 220px;
  bottom: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  color: white;
}
.wrapper .menu .menuFooter img {
  width: 30px;
  height: 30px;
}
.wrapper .menu .menuFooter .social {
  padding-bottom: 12px;
}
.wrapper .menu .menuFooter .social img {
  margin: 0px 5px;
}
.wrapper .menu .menuFooter .contacts {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.wrapper .menu .menuFooter .contacts .phone, .wrapper .menu .menuFooter .contacts .mail {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 3px 0px;
}
.wrapper .menu .menuFooter .contacts .phone img, .wrapper .menu .menuFooter .contacts .mail img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.wrapper .menu .menuFooter .contacts .mail {
  font-size: 18px;
}
.wrapper .menu .menuFooter .author {
  padding-top: 15px;
  font-size: 12px;
}






.wrapper .mainContent .header {
  overflow: hidden;
  padding-bottom: 10px;
}
.wrapper .mainContent .header .userPanel {
  height: 70px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  z-index: 100;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.34);
  position: fixed;
  width: calc(100% - 220px);
  left: 220px;
  background: #fff;
}
.wrapper .mainContent .header .userPanel > a > img {
  width: 30px;
  height: 30px;
  padding-top: 5px;
  margin: 0px 20px;
}
.wrapper .mainContent .header .userPanel .userID {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: #CCCCCC;
  margin-left: 30px;
}
.wrapper .mainContent .header .userPanel .userID span {
  position: relative;
}
.wrapper .mainContent .header .userPanel .userID span:before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: -50px;
  width: 50px;
  height: 2px;
  background: #CCCCCC;
  transform: rotate(90deg);
}
.wrapper .mainContent .header .userPanel .userID img {
  width: 50px;
  height: 50px;
  border-radius: 40px;
  border: 3px solid #5340C7;
  margin: 0px 10px;
}

#logout{
    width: 25px;
    height: 25px;
}

body{
    background: #F8F9FC;
}

.content{
    margin-top: 90px;

}
